/* フォントカラー
フォントベース: #000000
灰色: #555555
背景: #FFFFFF
黄色: #F6CA06
紫: #744199
影メイン: #000000A8
影: #00000053
*/

/* spスマホ: 767px */
/* section: 569px */
/* pc: 768px */

html{
  font-size: 62.5%;
}

body{
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "YuGothic", "Yu Gothic","游ゴシック", "游ゴシック体", sans-serif;
  background: #FFFFFF;
}

*{
  box-sizing: border-box;
}

ul,ol{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

dl,dt,dd{
  margin: 0;
}

img{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

input,select,textarea{
  outline: none;
}

a{
  color: #000000;
  text-decoration: none;
}

a,button{
  transition: .3s;
}

a:hover,button:hover{
  opacity: 0.6;
}

/* -----使い回しクラス----- */
.body__scroll{
  overflow: hidden;
}

/* フェードインするための準備 JSで実装 */
/* .fadein__js{
  opacity: 0;
  transform: translate(0, 10rem);
  transition: 3s;
} */
/* スクロールしたらフェードインする　JSで実装 */
/* .scrollin{
  opacity: 1;
  transform: translate(0, 0);
} */

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 10px #000000A8;
  width: 20rem;
  height: 5.6rem;
  border-radius: 1rem;
  color: #744199;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
  margin: auto;
  margin-top: 4rem;
}

.btn:hover{
  opacity: 1;
  box-shadow: 0rem 0rem .3rem #000000A8;
}

/* -----header----- */
.header{
  width: 9rem;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 100;
}

.header__list{
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #f6ca06;
}

.header__list__item{
  display: flex;
  justify-content: center;
}

.header__list__item a{
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-size: calc(3vh + 5px);
  font-weight: bold;
  margin-bottom: 5vh;
}

.header__links{
  margin-top: 4rem;
  position: fixed;
  right: 0;
  z-index: 10;
}

.header__links a{
  display: block;
  width: 3rem;
  height: 3rem;
  box-shadow: .2rem .4rem .6rem #00000053;
  background: #FFFFFF;
  border-radius: .4rem;
  margin-bottom: 1.6rem;
  margin-right: 3.5rem;
  position: relative;
}

.header__links a:hover{
  opacity: 1;
  box-shadow: 0 0 0.1rem #00000053;
}

.header__links .twitter{
  position: absolute;
  background-image: url(../img/https___cdn.svgporn.com_logos_twitter.svg-0.svg);
  background-size: contain;
  width: 2rem;
  height: 2rem;
  top: 70%;
  left: 55%;
  transform: translate(-55%, -70%);
}

.header__links .github{
  position: absolute;
  background-image: url(../img/github_badge.svg);
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@media screen and (max-width: 767px){
  .header{
    height: 5rem;
    width: 100%;
  }

  /* ハンバーガートグルボタン */
  .header__toggle{
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 1rem;
    position: fixed;
    cursor: pointer;
    z-index: 10;
    background: #ffffff;
  }

  .header__toggle span{
    display: inline-block;
    width: 100%;
    height: 0.4rem;
    transition: all 1s;
    border-top: 3px solid #000000;
    /* spanの位置を３つに分ける */
    position: absolute;
    left: 0;
  }
  /* 上 */
  .header__toggle span:nth-of-type(1){
    top: 0;
  }
  /* 真ん中 */
  .header__toggle span:nth-of-type(2){
    top: 1.3rem;
  }
  /* 下 */
  .header__toggle span:nth-of-type(3){
    bottom: 0;
  }

  /* ボタンがactive時 */
  .header__toggle .active{
    transition: all 1s;
    background: #F6CA06;
  }
  /* 上 */
  .header__toggle .active span:nth-of-type(1){
    transform: translateY(1rem) rotate(-45deg);
  }
  /* 真ん中 */
  .header__toggle .active span:nth-of-type(2){
    opacity: 0;
  }
  /* 下 */
  .header__toggle .active span:nth-of-type(3){
    transform: translateY(-1.5rem) rotate(45deg);
  }

  .header__nav{
    width: 100%;
    height: 100vh;
    background: #f6ca06;
    position: relative;
    /* 1秒かけてアニメーション */
    transition: ease-in 1s;
    transform: translateX(-100%);
  }
  /* jsでopenクラスをつけると出てくる */
  .header__nav .open{
    transform: translate(0);
  }

  .header__list{
    width: 100%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .header__list__item a{
    -webkit-writing-mode: lr;
    -ms-writing-mode: lr;
    writing-mode: lr;
  }
  /* 右側のtwitterとgithubのリンク */
  .header__links{
    margin-top: 2rem;
  }
}

/* -----top----- */
.top__container{
  max-width: 769px;
  margin: auto;
  height: 100vh;
}

.top__title{
  font-size: 4rem;
  text-align: center;
  padding-top: 4rem;
}

.top__wrapper{
  width: 100%;
  height: 56rem;
  margin: auto;
  background-image: url(../img/monkey.png);
  background-position-x: 0%;
  background-position-y: bottom;
  position: relative;
}

.top__comment{
  text-align: center;
  width: 18rem;
  height: 4.8rem;
  box-shadow: 0.2rem 0.4rem 0.6rem #00000053;
  border-radius: 1.4rem;
  background: #F6CA06;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top__comment p{
  position: relative;
  font-size: 1.4rem;
  font-weight: bold;
}

.top__comment::before,.top__comment::after{
  position: absolute;
  content: '';
  background: #F6CA06;
  border-radius: 50%;
  box-shadow: 0.2rem 0.4rem 0.6rem #000000A8;
}
/* 吹き出しの丸　中 */
.top__comment::before{
  left: -1.8rem;
  bottom: -1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
/* 吹き出しの丸　小 */
.top__comment::after{
  left: -2.8rem;
  bottom: -2.5rem;
  width: 1rem;
  height: 1rem;
}

.top__table{
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 15%;
  transform: translate(-15%, 0%);
}

.top__table dl{
  display: flex;
  justify-content: center;
  width: 20rem;
  margin-bottom: 3rem;
  color: #000000;
}

.top__table dt{
  margin-right: 2rem;
}

@media screen and (max-width: 768px){
  .top__container{
    height: 56rem;
    margin-bottom: 11rem;
  }

  .top__title{
    font-size: 2.4rem;
    padding-top: 6rem;
  }

  .top__wrapper{
    background-position-x: center;
    max-width: 47rem;
    height: 48rem;
    margin-top: 4rem;
  }

  .top__comment{
    width: 16rem;
    top: 5%;
    left: 70%;
    transform: translate(-70%, -5%);
  }

  .top__table{
    height: 26rem;
    top: 48%;
    right: 0;
    transform: translate(0%, -48%);
    margin-right: 1.5rem;
  }

  .top__table dl{
    width: 16rem;
    margin-bottom: 1.6rem;
  }

  .top__table dt{
    margin-right: 0.5rem;
  }
}

/* -----skill----- */
.skill__container{
  max-width: 569px;
  margin: auto;
}
/* toolの方のcontainer */
.skill__container:nth-of-type(2){
  margin-top: 4rem;
  padding-bottom: 6rem;
}

.skill .title{
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1.6rem;
  font-weight: normal;
}

.skill .title__line{
  display: block;
  margin: auto;
  width: 16rem;
  height: 0.1rem;
  background: #F6CA06;
}

.skill__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2.4rem;
}

.skill__item{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.skill__item:nth-of-type(6) img{
  transform: scaleY(0.4) translateY(1.5rem);
}

.skill__item__icon{
  margin-right: 2rem;
}

.skill__item__name{
  text-align: center;
  margin-bottom: 1.6rem;
  color: #555555;
}

.skill__item__img{
  width: 8rem;
  height: 8rem;
}

.skill__item__level{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .8rem;
}

.skill__item__meter{
  width: 16rem;
  height: 2.4rem;
  border: 1px solid #000000;
  display: inline-block;
}

@media screen and (max-width: 768px){
  .skill .title{
    font-size: 3rem;
  }

  .skill .title__line{
    width: 8rem;
  }

  .skill__wrapper{
    display: block;
    padding: 2rem 2rem;
    margin-top: 2.4rem;
  }

  .skill__item__name{
    margin-bottom: 0.8rem;
    letter-spacing: -0.1rem;
  }

  .skill__item__img{
    width: 6rem;
    height: 6rem;
  }

  .skill__item__level{
    font-size: 1.6rem;
  }

  .skill__item__meter{
    height: 2rem;
    width: 16rem;
  }
}
/* -----syudy----- */
.study{
  margin-top: 10rem;
  padding-bottom: 8rem;
}

.study .title{
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1.6rem;
  font-weight: bold;
}

.study .title__line{
  display: block;
  margin: auto;
  width: 16rem;
  height: 0.1rem;
  background: #F6CA06;
}

.study__wrapper{
  max-width: 56rem;
  margin: auto;
  margin-top: 8rem;
  background: #F6CA06;
  border-radius: 2rem;
  box-shadow: 0rem .3rem .3rem #000000A8;
  text-align: center;
  padding: 4rem 0;
}

.study__text__top{
  font-size: 2.4rem;
  font-weight: bold;
}

.study__text__middle{
  font-size: 4rem;
  font-weight: bold;
  margin-top: 1.6rem;
}

.study__text__bottom{
  font-size: 1.4rem;
  color: #555555;
  margin-top: 1.6rem;
  line-height: 2;
}

/* モーダル */
.study__modal{
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* モーダルのバッグ背景 */
.study__modal__bg{
position: fixed;
width: 100%;
height: 100vh;
background: #000;
opacity: 0.8;
}

.study__modal__wrapper{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-49%);
  width: 56rem;
  height: auto;
  background: #F6CA06;
  margin: auto;
  padding: 4rem 2rem;
  border-radius: 2rem;
  margin-bottom: 8rem;
}

.study__modal .title{
  text-align: center;
  font-size: 2.4rem;
}

.study__modal__table{
  margin-top: 5.6rem;
}

.study__modal__table dl{
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #000000;
}

.study__modal__table dt{
  width: 16rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.study__modal__table dd{
  width: 100%;
  color: #555555;
}
/* 戻るボタン */
.study__modal__close{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 10px  #000000A8;
  width: 20rem;
  height: 5.6rem;
  border-radius: 1rem;
  color: #744199;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
  margin: auto;
  margin-top: 4rem;
}
.study__modal__close:hover{
  opacity: 1;
  box-shadow: 0rem 0rem .3rem #000000A8;
}
/* 右上のバツボタン */
.study__modal__close2{
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 10%;
  right: 10%;
  transform: translate(-8%, -10%);
  color: #ffffff;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.study__modal__close2:hover{
  background: #FFFFFF;
  border-radius: 50%;
  color: #000000;
}

@media screen and (max-width: 768px){

  .study .title{
    font-size: 3rem;
    margin-bottom: 1.6rem;
  }

  .study .title__line{
    width: 8rem;
  }

  .study__wrapper{
    width: 90%;
    height: 100%;
  }

  .study__text__top{
    font-size: 1.6rem;
  }

  .study__text__middle{
  font-size: 2.4rem;
  }


  /* モーダル  */
  .study__modal__wrapper{
    max-width: 80%;
  }

  .study__modal__table dt{
    width: 10rem;
    font-size: 1.6rem;
  }

  .study__modal__table dd{
    font-size: 1.4rem;
  }

  .study__modal__close{
    width: 16rem;
    height: 4.8rem;
  }

  .study__modal__close2{
    top: 12%;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}

/* -----production----- */
.production{
  margin-top: 12rem;
  padding-bottom: 3rem;
}

.production__container{
  max-width: 769px;
  margin: auto;
}

.production .title{
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1.6rem;
  font-weight: normal;
}

.production .title__line{
  display: block;
  margin: auto;
  width: 16rem;
  height: 0.1rem;
  background: #F6CA06;
}

.production__wrapper{
  margin-top: 4rem;
  padding: 0 4.5rem;
}

.production__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.production__item{
  margin-bottom: 4.8rem;
}

.production__item__title{
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.production__item__text{
  margin: auto;
  font-size: 1.4rem;
  color: #555555;
  width: 32rem;
  height: 6.3rem;
}

.production__item .btn__wrapper{
  width: 8rem;
  margin: auto;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  background: #F6CA06;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .3s;
  padding: .5rem;
}

.production__item .btn__wrapper:hover{
  background: #FFFFFF;
}

.production__item__img{
  width: 32rem;
  height: 35rem;
}

.production__item__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  box-shadow: .5rem .9rem 1rem #000000A8;
}

/* 3番目のLiはセンター */
.production__item:nth-child(3){
  margin: auto;
  margin-bottom: 4.8rem;
}

/* 4番目の以降のli画像をw100％にする */
.production__item:nth-child(n+4) .production__item__img{
  width: 100%;
  height: auto;
}

.production__item:nth-child(n+4) img{
  height: 40rem;
}

/* productionのモーダル */
.production__modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.production__modal__bg{
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
}

.production__modal__wrapper{
  width: 56rem;
  height: auto;
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.production__modal__title{
  font-size: 4rem;
  text-align: center;
}

.production__modal__items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12.4rem;
  margin: auto;
}

.production__item:nth-child(3) .production__modal__items{
  justify-content: center;
}

.production__item:nth-child(3) .production__modal__items__box{
  display: none;
}

.production__modal__items__box{
  text-align: center;
}

.production__modal__items__box a{
  background-size: contain;
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.production__modal__items__box a:hover{
  opacity: 1;
}

.production__modal__items__box .modal__item{
  width: 4.8rem;
  height: 4.8rem;
  background: #F6CA06;
  border-radius: .5rem;
  box-shadow: .1rem .6rem .6rem #000000A8;
  position: relative;
  font-weight: bold;
  letter-spacing: 0;
  transition: .3s;
}

.production__modal__items__box .modal__item:hover{
  box-shadow: 0rem .1rem .3rem #000000A8;
}
/* GitHubの画像 */
.production__modal__items__box .github{
  background-image: url(../img/github_badge.svg);
}
/* URLのサイトを中央配置 */
.production__modal__items__box .url{
  display: flex;
  align-items: center;
  justify-content: center;
}

.production__modal__table{
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 5.6rem;
}

.production__modal__table dl{
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.production__modal__table dt{
  width: 10rem;
  margin-left: 13rem;
}

.production__modal__table dd{
  width: 20rem;
}

.production__modal__text{
  color: #555555;
  line-height: 2em;
}

.production__modal .modal__close{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem .6rem 1rem #000000A8;
  width: 20rem;
  height: 5.6rem;
  border-radius: 1rem;
  color: #744199;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
  margin: auto;
  margin-top: 4rem;
}

.production__modal .modal__close:hover{
  opacity: 1;
  box-shadow: 0rem 0rem .3rem #000000A8;
}

.production__modal .modal__close2{
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 5%;
  right: 8%;
  transform: translate(-8%, -5%);
  color: #ffffff;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.production__modal .modal__close2:hover{
  background: #FFFFFF;
  border-radius: 50%;
  color: #000000;
}

@media screen and (max-width: 768px){
  .production .title{
    font-size: 3rem;
  }

  .production .title__line{
    width: 8rem;
  }

  .production__wrapper{
    padding: 0 2rem;
  }

  .production__list{
    display: block;
  }

  .production__item__img{
    width: 100%;
    max-width: 32rem;
    height: 100%;
    margin: auto;
  }

  .production__item__img img{
    max-width: 100%;
  }

  .production__item__text{
    max-width: 100%;
    height: auto;
  }

  .production__modal{
    width: 100%;
    overflow: scroll;
  }

  .production__modal__wrapper{
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 1rem;
    margin-bottom: 8rem;
  }

  .production__modal__title{
    font-size: 2.4rem;
  }

  .production__modal__table dl{
    text-align: center;
  }

  .production__modal__table dt{
    margin-left: 0;
  }

  .production__modal__text{
    line-height: 1.5em;
  }

  .production__modal__close2{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}
/* -----contact----- */
.contact{
  display: none;
}
/* -----footer----- */
.footer{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer__topbtn{
  /* ボタンの装飾 */
  background-image: url(../img/topbtn.svg);
  width: 3.2rem;
  height: 6rem;
  color: #744199;
  cursor: pointer;
  /* ボタンの位置 */
  position: fixed;
  bottom: 5%;
  right: 2%;
  transform: translate(-2%, -5%);
}

.footer .footer__copyrite{
  margin-top: 5.6rem;
  font-weight: bold;
  height: 4rem;
}

@media screen and (max-width: 767px){
  .footer .footer__topbtn{
    bottom: 2%;
    right: 2%;
    transform: translate(-2%, -2%);
  }
}

/* loader */
.loader{
  width: 100%;
  height: 100%;
  background: #F6CA06;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  display: none;
}

.loader p{
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  text-shadow: 0 .1rem .3rem #000000A8;
}

.loader img{
  width: 50rem;
  height: auto;
  transform: translateX(-50%);
  transition: transform 4s;
}

@media screen and (max-width: 768px) {
  .loader p{
    font-size: 3.6rem;
    height: 40rem;
  }

  .loader img{
    max-width: 100%;
    transition: 5s;
  }
}