.loader
  width: 100vw
  height: 100vh
  background: $yellow
  position: fixed
  z-index: 1000
  display: flex
  align-items: center
  img
    width: 50rem
    height: auto
    transform: translateX(-50%)
    transition: transform 3s
    +mq(sp)
    max-width: 100%
