.production
  margin-top: 12rem
  padding-bottom: 3rem
  &.fadein__js
    +fadeIn
  &.scrollin
    +scrollin
  &__container
    +inner(769px)
  .title
    text-align: center
    font-size: 5rem
    margin-bottom: 1.6rem
    font-weight: normal
    +mq(sp)
      font-size: 3rem
  .title__line
    display: block
    margin: auto
    width: 16rem
    height: .1rem
    background: $yellow
    +mq(sp)
      width: 8rem
  &__wrapper
    margin-top: 4rem
    padding: 0 4.5rem
    +mq(sp)
      padding: 0 2rem
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +mq(sp)
      display: block
  &__item
    margin-bottom: 4.8rem
    &__img
      width: 32rem
      height: 35rem
      +mq(sp)
        width: 100%
        max-width: 32rem
        height: 100%
        margin: auto
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: top
        box-shadow: 5px 9px 10px $shadow
        +mq(sp)
          max-width: 100%
          //height: 40rem
          object-fit: cover
    /* 3番目のLiはセンター */
    &:nth-child(3)
      margin: auto
      margin-bottom: 4.8rem
      //3番目のliのURLはないので非表示にしてGitHubをセンターにする
      .production__modal__items
        justify-content: center
      .production__modal__items__box
        &:nth-of-type(2)
          display: none
    /* 4番目以降のLiの画像はwidth:100%にする */
    &:nth-child(n+4)
      .production__item__img
        width: 100%
        height: auto
        img
          height: 40rem
    &__title
      text-align: center
      font-size: 2.4rem
      font-weight: bold
      margin-bottom: 1.4rem
    &__text
      margin: auto
      font-size: 1.4rem
      color: $grey
      width: 32rem
      height: 6.3rem
      +mq(sp)
        max-width: 100%
        height: auto
    .btn-wrapper
      width: 8rem
      margin: auto
      margin-top: 0.8rem
      margin-bottom: 1.4rem
      font-size: 1.4rem
      font-weight: bold
      background: $yellow
      border-radius: 1rem
      cursor: pointer
      transition: all .3s
      padding: .5rem
      &:hover
        background: $bg-color
  &__modal
    display: none
    width: 100%
    height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: 100
    +mq(sp)
      width: 100%
    &__bg
      width: 100%
      height: 100vh
      background: #000
      opacity: 0.8
      position: absolute
      top: 0
    &__wrapper
      width: 56rem
      height: auto
      background: $bg-color
      padding: 2rem
      border-radius: 2rem
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      +mq(sp)
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 90%
        padding: 1rem
    &__title
      font-size: 4rem
      text-align: center
      +mq(sp)
        font-size: 2.4rem
    &__items
      display: flex
      align-items: center
      justify-content: space-between
      width: 12.4rem
      margin: auto
      &__box
        text-align: center
      .modal__item
        width: 4.8rem
        height: 4.8rem
        background: $yellow
        border-radius: .5rem
        box-shadow: 1px 6px 6px $shadow
        position: relative
        font-weight: bold
        letter-spacing: 0
        &:hover
          box-shadow: 0rem .1rem .3rem $shadow
        a
          background-size: contain
          width: 4.8rem
          height: 4.8rem
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
        .github
          background-image: url(/img/github_badge.svg)
        .url
          display: flex
          align-items: center
          justify-content: center
    &__table
      font-size: 1.6rem
      font-weight: bold
      margin-top: 5.6rem
      dl
        display: flex
        align-items: baseline
        justify-content: center
        margin-bottom: 1.6rem
        +mq(sp)
          text-align: center
      dt
        width: 10rem
        margin-left: 13rem
        +mq(sp)
          margin-left: 0
      dd
        width: 20rem
    &__text
      color: $grey
      line-height: 2em
      +mq(sp)
        line-height: 1.5em
    .modal__close
      display: flex
      align-items: center
      justify-content: center
      box-shadow: 0px 6px 10px $shadow
      +btn(16rem,4.8rem)
      margin: auto
      margin-top: 4rem
      &:hover
        opacity: 1
        box-shadow: 0rem 0rem .3rem $shadow
    .modal__close2
      width: 4rem
      height: 4rem
      position: fixed
      top: 8%
      right: 8%
      transform: translate(-8%,-8%)
      color: $bg-color
      border-radius: 50%
      font-size: 3rem
      display: flex
      align-items: center
      justify-content: center
      &:hover
        background: $bg-color
        border-radius: 50%
        color: $font-color
      +mq(sp)
        width: 3rem
        height: 3rem
        font-size: 2rem

