.top
  +mq(sp)
  &__container
    +inner(769px)
    height: 100vh
    +mq(sp)
      padding: 0 2rem
      height: 56rem
      margin-bottom: 11rem
  &__title
    font-size: 4rem
    text-align: center
    padding-top: 8rem
    +mq(sp)
      font-size: 2.4rem
      padding-top: 6rem
  &__wrapper
    width: 100%
    height: 64rem
    margin: auto
    background-image: url(../img/portfolioMV.png)
    background-size: contain
    background-position: 35%
    position: relative
    +mq(sp)
      background-position: 0 0
      width: 32rem
      max-width: 100%
      height: 40rem
      margin-top: 5.6rem
  &__comment
    text-align: center
    width: 18rem
    height: 4.8rem
    box-shadow: 0.2rem 0.4rem 0.6rem $shadow
    border-radius: 1.4rem
    background: $yellow
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 8%
    left: 65%
    transform: translate(-65%, -8%)
    +mq(sp)
      width: 16rem
      top: 0%
      left: 100%
      transform: translate(-100%, 0%)
    p
      position: relative
      font-size: 1.4rem
      font-weight: bold
    &::before,&::after
      position: absolute
      content: ''
      background: $yellow
      border-radius: 50%
      box-shadow: 0.2rem 0.4rem 0.6rem $shadow
    &::before
      left: -1.8rem
      bottom: -1.5rem
      width: 1.5rem
      height: 1.5rem
    &::after
      left: -2.8rem
      bottom: -2.5rem
      width: 1rem
      height: 1rem
  &__table
    font-size: 1.4rem
    font-weight: bold
    position: absolute
    top: 65%
    right: 20%
    transform: translate(-20%, -65%)
    +mq(sp)
      top: 60%
      right: 0%
      transform: translate(0%, -60%)
    dl
      display: flex
      justify-content: flex-end
      width: 20rem
      margin-bottom: 3rem
      color: $grey
      +mq(sp)
        margin-bottom: 1.9rem
        margin-right: 1rem
    dt
      margin-right: 2rem
    dd
